// container
.container {
  width: 100%;
  margin: auto;

  @include breakpoint-up(small) {
    max-width: 540px;
  }

  @include breakpoint-up(medium) {
    max-width: 720px;
  }

  @include breakpoint-up(large) {
    max-width: 960px;
  }

  @include breakpoint-up(extra-large) {
    max-width: 1140px;
  }
}

// flexbox
.flex {
  display: flex;

  &--jc-between {
    justify-content: space-between;
  }

  &--jc-center {
    justify-content: center;
  }

  &--ai-center {
    align-items: center;
  }
}

// visibility
.hide-for-mobile {
  @include breakpoint-down(large) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// animations
.fade-in {
  animation: fadeIn 300ms ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 300ms ease-in-out forwards;
}
