@import '_reset';
@import '_variables';
@import '_mixins.scss';
@import '_fonts.scss';
@import '_default.scss';

.wrapper {
  margin-top: 85px;
  @include desktopStyles {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 0;
  }
}

.container {
  padding: 0 30px;
  @include desktopStyles { padding: 40px 300px 0 160px }
}

header {
  margin: 30px 0;
  background: #fffdfe;
  position: absolute;
  top: 0;
  @include desktopStyles {
    position: relative;
    background: transparent;
  }
  img {
    width: 96px;
    @include tabletStyles { width: 120px }
    @include desktopStyles { width: 158px }
  }
}

.hero {
  margin-bottom: 65px;
  @include desktopStyles {
    grid-row: 1;
    grid-column: 2/3;
    height: 100vh;
    margin-bottom: 0;
  }
  img {
    width: 100%;
    @include desktopStyles {
      width: auto;
      height: 100%;
    }
  }
}

.content {
  @include desktopStyles {
    grid-row: 1;
    grid-column: 1/2;
    background: url('../images/bg-pattern-desktop.svg') no-repeat;
    background-size: cover;
  }
}

main {
  text-align: center;
  margin-bottom: 94px;
  @include desktopStyles {
    text-align: left;
    margin-bottom: 40px;
  }
  h1 { 
    margin-bottom: 30px;
    @include desktopStyles {
      margin-top: 70px;
      margin-bottom: 20px;
    }
  }
  form {
    margin-top: 40px;
    width: 100%;
    height: 46px;
    position: relative;
    border-radius: 40px;
    box-sizing: border-box;
    @include tabletStyles {
      height: 50px;
    }
    span {
      color: $softRed;
      display: block;
      margin-top: 10px;
      padding-left: 20px;
    }
  }
  input, button { outline: none; }
  input {
    width: 100%;
    height: 100%;
    border: 1px solid $desaturatedRed;
    border-radius: inherit;
    box-sizing: border-box;
    padding: 0 120px 0 30px;
    background: inherit;
    &::placeholder { color: $desaturatedRed; }
  }
  input.invalid {
    background-image: url('../images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: right 100px center;
    border: 2px solid $softRed;
    padding-right: 130px;
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 100%;
    border: none;
    border-radius: inherit;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 16px 32px hsla(0, 36%, 70%, 46%);
    transition: 3s;
    &:hover {
      cursor: pointer;
      background-image: linear-gradient(135deg, hsl(0, 80%, 86%) 100%, hsl(0, 74%, 74%));
    }
  }
}

footer {
  .attribution { 
    margin-bottom: 40px;
    @include desktopStyles {
      margin-bottom: 0;
    }
  }
}
