@import 'reset';
@import 'variables';
@import 'mixins';

body {
  background-color: #fff;
  color: $grayish-blue;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  @include desktop-style {
    background-color: #fafafa;
  }
}

.container {
  padding: 80px 8%;
}

.title {
  text-align: center;
  margin-bottom: 60px;
  h1 {
    color: $dark-blue;
    font-size: 1.6em;
    font-weight: 200;
    margin-bottom: 20px;
    @include desktop-style {
      font-size: 2.4em;
    }
  }
  span {
    display: block;
    color: $dark-blue;
    font-weight: 600;
  }
  p {
    font-size: 1em;
    @include desktop-style {
      padding: 0 28%;
    }
  }
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(4, 230px);
  grid-gap: 25px;
  margin-bottom: 60px;
  @include tablet-style {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 230px);
  }
  @include desktop-style {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, (230px / 2));
    grid-template-areas: 
    ". two ."
    "one two four"
    "one three four"
    ". three .";
  }
  .feature {
    box-shadow: 0 16px 24px #d9e3ed;
    border-radius: 4px;
    padding: 24px;
    position: relative;
    @include desktop-style { padding: 30px; }
    &:nth-child(1) {
      @include desktop-style { grid-area: one; }
      border-top: 4px solid $cyan;
    }
    &:nth-child(2) {
      @include desktop-style { grid-area: two; }
      border-top: 4px solid $red;
    }
    &:nth-child(3) {
      @include desktop-style { grid-area: three; }
      border-top: 4px solid $orange;
    }
    &:nth-child(4) {
      @include desktop-style { grid-area: four; }
      border-top: 4px solid $blue;
    }
  }
  h2 {
    color: $dark-blue;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 12px;
  }
  p {
    font-size: 0.9em;
  }
  img {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}

footer {
  font-size: 0.7em;
  text-align: center;
}
