.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 45px;
  border-radius: 6px;
  box-shadow: 0 4px 8px hsla(231, 69%, 60%, 25%);
  box-sizing: border-box;
}

.button-cta {
  display: flex;
  justify-content: center;
  width: auto;
  @include mQ($lg) {
    justify-content: flex-start;
  }
}
