/* Colors */
/* Break Points */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #ce9797;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-color: #fefaf9;
}

.header {
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .header {
    position: absolute;
    width: 100%;
    margin-top: 40px;
    background-color: transparent;
  }
}

.main {
  background-color: #fff8f9;
}
@media screen and (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "intro hero";
  }
}

::selection {
  background: #F0B9BE;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 992px) {
  .container {
    padding-left: 165px;
    padding-right: 220px;
  }
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 84px;
}
.nav > * {
  flex-grow: 1;
}
.nav__logo {
  height: 21px;
}
@media screen and (min-width: 992px) {
  .nav__logo {
    height: 32px;
  }
}

.hero {
  grid-area: hero;
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 992px) {
  .hero {
    width: 100%;
    max-width: 610px;
    height: 100vh;
  }
}
.hero img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.intro {
  grid-area: intro;
  text-align: center;
  padding-top: 66px;
  padding-bottom: 92px;
}
@media screen and (min-width: 992px) {
  .intro {
    display: flex;
    text-align: left;
    align-items: center;
    background-image: url(../images/bg-pattern-desktop.svg);
  }
}
.intro__heading {
  font-size: 38px;
  font-weight: 200;
  letter-spacing: 15px;
  line-height: 110%;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .intro__heading {
    font-size: 58px;
    margin-top: 46px;
  }
}
.intro__heading span {
  display: block;
  color: #413a3a;
  font-weight: 600;
}
.intro__text {
  font-size: 14px;
  line-height: 160%;
  margin-top: 16px;
  margin-bottom: 30px;
}
@media screen and (min-width: 992px) {
  .intro__text {
    font-size: 16px;
    line-height: 200%;
  }
}
.intro__form {
  position: relative;
  width: 100%;
  height: 48px;
  border-radius: 48px;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .intro__form {
    height: 56px;
  }
}
.intro__form span {
  display: inline-block;
  color: #f96262;
  margin: 10px auto;
  margin-left: 16px;
}
.intro__form {
  text-align: left;
}
.intro__input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid #dbcdcd;
  border-radius: inherit;
  box-sizing: border-box;
  padding: 0 120px 0 30px;
}
.intro__input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #ce9797;
}
.intro__input::placeholder {
  color: #d7c7c7;
}
.intro__input.invalid {
  background-image: url("../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 70px center;
  border: 2px solid #f96262;
  padding-right: 110px;
}
@media screen and (min-width: 992px) {
  .intro__input.invalid {
    background-position: right 90px center;
    padding-right: 120px;
  }
}
.intro__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
  background-color: #f1b1b4;
  border: none;
  border-radius: inherit;
  box-shadow: 0 16px 32px rgba(206, 151, 151, 0.46);
  cursor: pointer;
  outline: none;
  transition: background-color 0.25s;
}
.intro__button:active {
  background-color: #facecf;
}
@media screen and (min-width: 576px) {
  .intro__button {
    width: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
