/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 0 6.933vw;
}

.illustration {
  width: 100%;
}

p,
.leading,
.intro .leading {
  margin: 20px auto 30px;
}

main {
  position: relative;
}

input {
  display: block;
  width: 100%;
  padding: 16px;
  min-height: 50px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
}

h1,
h2,
h3 {
  color: #232127;
  font-weight: 700;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  color: white;
}

p,
.leading,
.intro .leading {
  color: #9e9aa7;
  line-height: 1.6;
}

.intro .leading {
  font-size: 1em;
}

p,
.leading {
  font-size: 0.9em;
}

a,
.button {
  color: white;
  text-decoration: none;
}

button,
.button {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

input,
input::-webkit-input-placeholder {
  color: #9e9aa7;
  font-family: inherit;
  font-size: 1em;
}

.menu-toggle i {
  font-size: 25px;
  color: #9d9ca4;
}

.menu-container li {
  text-align: center;
  font-weight: 700;
}

.card-body {
  font-size: 0.9em;
}

.info li a {
  color: #bfbfbf;
  font-weight: normal;
  font-size: 0.8em;
}

.social-media i {
  color: white;
  font-size: 1.2em;
}

.attribution {
  color: #f46262;
  font-size: 0.7em;
  line-height: 1.6;
}

button,
.button {
  display: block;
  background: #2acfcf;
  min-width: 100px;
  min-height: 38px;
  line-height: 38px;
  border: none;
  border-radius: 40px;
  box-sizing: border-box;
  outline: none;
}

.card {
  background: white;
  margin-bottom: 92px;
  position: relative;
}
.card .card-header {
  position: absolute;
  background: #3b3054;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: auto;
  top: -44px;
  left: 0;
  right: 0;
}
.card .card-header img {
  object-fit: contain;
}
.card .card-body {
  padding: 65px 36px 40px;
}

.social-media {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}
.social-media a {
  display: inline-block;
  margin: auto 15px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin: 40px auto 30px;
}
header nav a {
  align-self: center;
}

.menu-container {
  background: #3b3054;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-sizing: border-box;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s ease;
  position: absolute;
  top: 60px;
  z-index: 1;
}

.menu-container.active {
  transform: scaleY(1);
}
.menu-container.active .nav-list {
  margin: 40px 24px;
}
.menu-container.active ul:first-child {
  border-bottom: 1px solid #544a6d;
}
.menu-container.active li {
  margin: 36px auto;
}
.menu-container.active .button {
  height: 48px;
  line-height: 48px;
}

.shorten {
  position: absolute;
  right: 24px;
  left: 24px;
  background: #3b3054 url("../img/bg-shorten-mobile.svg") no-repeat;
  background-position: right top;
  border-radius: 8px;
  transform: translateY(-50%);
}
.shorten form {
  padding: 24px;
}
.shorten input,
.shorten button {
  height: 50px;
  border-radius: 4px;
}
.shorten input {
  margin-bottom: 16px;
}
.shorten .button {
  width: 100%;
  line-height: 50px;
}

.started {
  background: #3b3054 url("../img/bg-boost-mobile.svg") no-repeat;
  padding-top: 110px;
  padding-bottom: 90px;
}
.started h2 {
  color: white;
  margin-bottom: 20px;
}
.started .button {
  width: 186px;
  height: 56px;
  line-height: 56px;
  margin: auto;
}

footer.container {
  background: #232127;
  padding-top: 54px;
  padding-bottom: 54px;
}
footer.container .logo {
  filter: grayscale(1) brightness(0) invert(1);
}

.info {
  margin-top: 40px;
}
.info div {
  margin-bottom: 30px !important;
}
.info h4 {
  margin-bottom: 28px;
}
.info li {
  padding: 10px 0;
}

.attribution {
  background: #232127;
  border-top: 1px solid #35323e;
  padding-top: 10px;
  padding-bottom: 10px;
}

.intro {
  overflow: hidden;
  padding-bottom: 168px;
}
.intro .illustration {
  width: 133.333vw;
}
.intro .content {
  margin-top: 50px;
}
.intro .button {
  width: 200px;
  height: 55px;
  line-height: 55px;
  margin: auto;
}

section.features {
  background: #f0f1f6;
  padding-top: 172px;
  padding-bottom: 80px;
}
section.features .feature-list {
  margin-top: 96px;
}
section.features .feature-list .card:first-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 48px;
  background: #2acfcf;
  right: 0;
  left: 0;
  margin: auto;
}
section.features .feature-list .card:nth-child(2)::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 48px;
  background: #2acfcf;
  right: 0;
  left: 0;
  margin: auto;
}

/*# sourceMappingURL=main.css.map */
