.shorten-results .card {
  background: white;
  margin-top: 20px;
  .card-header,
  .card-body {
    padding: 14px;
  }
  .card-header {
    border-bottom: 1px solid #e5e5e5;
  }
  p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
  }
  .card-body p {
    color: $cyan;
    margin-bottom: 14px;
  }
  .button {
    width: 100%;
    border-radius: 8px;
  }
  .button.copied {
    color: white;
    background: $darkViolet;
  }
}

.feature-list .card {
  background: white;
  margin-bottom: 92px;
  position: relative;
  .card-header {
    position: absolute; 
    background: $darkViolet;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin: auto;
    top: -(88px / 2);
    left: 0;
    right: 0;
  }
  .card-header img {
    object-fit: contain;
  }
  .card-body {
    padding: 65px 36px 40px;
  }
}
