.started {
  background: $darkViolet url('../img/bg-boost-mobile.svg') no-repeat;
  padding-top: 110px;
  padding-bottom: 90px;
  h2 {
    color: white;
    margin-bottom: 20px;
  }
  .button {
    width: 186px;
    height: 56px;
    line-height: 56px;
    margin: auto;
  }
}
